<div class="container">

  <div class="starter-template">
    <h1 class="fucking-result-head">Bobcat</h1>
    <p class="lead">Have fun...</p>
    <p class="lead"><a target="blank" href="http://bobcat.library.nyu.edu/primo_library/libweb/action/search.do?dscnt=1&dstmp=1386629790042&vid=NYU&fromLogin=true&fromLogin=true">(Go to Actual Site)</a></p>
		<iframe src="http://bobcat.library.nyu.edu/primo_library/libweb/action/search.do?dscnt=1&dstmp=1386629790042&vid=NYU&fromLogin=true&fromLogin=true"></iframe>
  </div>

</div>


<style>

body {
	background: #333;
}

.fucking-result-head {
	font-family: 'Lato';
	font-weight: bold;
	text-align: center;
	color: #47008C;
	text-shadow: -1px 0 #eee, 0 1px #eee, 1px 0 #eee, 0 -1px #eee;
	font-size: 50px;
}

.lead {
	font-size: 150%;
	color: #eee;
	font-family: 'Lato';
	margin-bottom: 5px;
}

.lead > a {
	font-size: 20px;
	color: #eee;
	font-family: 'Lato';
	text-decoration: none;
	padding: 5px;
}

.lead > a:hover {
	color: #47008C;
	background: #eee;
}

.starter-template > iframe {
	display: block;
	width: 100%;
	height: 800px;
	margin: 15px auto;
}
</style>