<div class="container">

  <div class="starter-template">
    <h1 class="fucking-result-head">BEER</h1>
    <p class="better-result-head">the best encouragement there is.</p>
		<%= image_tag "beer.png" %></a>
  </div>

</div>


<style>

body {
	background: #333;
}

.fucking-result-head {
	font-family: 'Lato';
	font-weight: bold;
	text-align: center;
	color: #47008C;
	text-shadow: -1px 0 #eee, 0 1px #eee, 1px 0 #eee, 0 -1px #eee;
	font-size: 50px;
}

.better-result-head {
	font-size: 26px;
	color: #eee;
	font-family: 'Lato';
}

.link-home {
	text-align: center;
}


.starter-template > img {
	display: block;
	width: 40%;
	margin: 15px auto;
}
</style>